name: Build EXE no Windows
run-name: ${{ github.workflow }} - ${{ github.actor }}

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-latest

    steps:
      - name: Clonar o repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install -r requirements.txt

      - name: Criar config.json com conteúdo secreto
        run: echo '${{ secrets.CONFIG_JSON }}' > config.json

      - name: Criar chave .pem com quebras de linha reais
        run: |
          echo "${{ secrets.SC_TUNNEL_WINDOWS_PEM }}" | sed 's/\\n/\n/g' > scTunnel.pem

      # - name: Criar scTunnel.pem com conteúdo secreto
      #   run: echo "${{ secrets.SC_TUNNEL_WINDOWS_PEM }}" > scTunnel.pem

      - name: Compilar EXE
        run: pyinstaller --onefile --name exec --hidden-import=cryptography.hazmat.bindings._rust --add-data "scTunnel.pem;."  --add-data "config.json;." exec_tunnels.py


      - name: Baixar Npcap
        run: curl -L -o install_npcap.exe https://nmap.org/npcap/dist/npcap-1.78.exe

      - name: Instalar Inno Setup
        shell: cmd
        run: |
          curl -L -o innosetup.exe https://jrsoftware.org/download.php/is.exe
          innosetup.exe /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP-

      - name: Mover primeiro lote arquivos
        run: |
          move dist\exec.exe exec.exe

      - name: Compilar Inno Setup
        shell: cmd
        run: |
          "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" inno_installer.iss


      - name: Mover setup.exe
        run: |
          move Output\setup.exe setup.exe

      - name: Criar Release pública com setup.exe
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Build Automático
          files: setup.exe
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}

      # - name: Upload do executável e arquivos necessários
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: sc_tunnel
      #     path: |
      #       setup.exe
